*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: rgb(255, 252, 247);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 242px;
    height: 182.5px;
    position: relative;
    top: 30px;
}

p {
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 1rem;
}